GUIApplication/Service References/BuyerServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BuyerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBuyerService_InsertBuyer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBuyer" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_InsertBuyer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBuyerResponse" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetBuyerByPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuyerByPhone" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetBuyerByPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuyerByPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetBuyerByMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuyerByMobile" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetBuyerByMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuyerByMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetAllBuyers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBuyers" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetAllBuyers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBuyersResponse" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetAllLocationsByPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocationsByPhone" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetAllLocationsByPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocationsByPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetAllLocationsByMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocationsByMobile" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetAllLocationsByMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocationsByMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetAllPropertiesByPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPropertiesByPhone" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetAllPropertiesByPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPropertiesByPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetAllPropertiesByMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPropertiesByMobile" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_GetAllPropertiesByMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPropertiesByMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_UpdateBuyer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBuyer" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_UpdateBuyer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBuyerResponse" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_DeleteBuyer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBuyer" />
  </wsdl:message>
  <wsdl:message name="IBuyerService_DeleteBuyer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBuyerResponse" />
  </wsdl:message>
  <wsdl:portType name="IBuyerService">
    <wsdl:operation name="InsertBuyer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuyerService/InsertBuyer" message="tns:IBuyerService_InsertBuyer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuyerService/InsertBuyerResponse" message="tns:IBuyerService_InsertBuyer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuyerByPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuyerService/GetBuyerByPhone" message="tns:IBuyerService_GetBuyerByPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuyerService/GetBuyerByPhoneResponse" message="tns:IBuyerService_GetBuyerByPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuyerByMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuyerService/GetBuyerByMobile" message="tns:IBuyerService_GetBuyerByMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuyerService/GetBuyerByMobileResponse" message="tns:IBuyerService_GetBuyerByMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBuyers">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuyerService/GetAllBuyers" message="tns:IBuyerService_GetAllBuyers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuyerService/GetAllBuyersResponse" message="tns:IBuyerService_GetAllBuyers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocationsByPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuyerService/GetAllLocationsByPhone" message="tns:IBuyerService_GetAllLocationsByPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuyerService/GetAllLocationsByPhoneResponse" message="tns:IBuyerService_GetAllLocationsByPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocationsByMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuyerService/GetAllLocationsByMobile" message="tns:IBuyerService_GetAllLocationsByMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuyerService/GetAllLocationsByMobileResponse" message="tns:IBuyerService_GetAllLocationsByMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPropertiesByPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuyerService/GetAllPropertiesByPhone" message="tns:IBuyerService_GetAllPropertiesByPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuyerService/GetAllPropertiesByPhoneResponse" message="tns:IBuyerService_GetAllPropertiesByPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPropertiesByMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuyerService/GetAllPropertiesByMobile" message="tns:IBuyerService_GetAllPropertiesByMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuyerService/GetAllPropertiesByMobileResponse" message="tns:IBuyerService_GetAllPropertiesByMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBuyer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuyerService/UpdateBuyer" message="tns:IBuyerService_UpdateBuyer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuyerService/UpdateBuyerResponse" message="tns:IBuyerService_UpdateBuyer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBuyer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuyerService/DeleteBuyer" message="tns:IBuyerService_DeleteBuyer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuyerService/DeleteBuyerResponse" message="tns:IBuyerService_DeleteBuyer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBuyerService" type="tns:IBuyerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertBuyer">
      <soap:operation soapAction="http://tempuri.org/IBuyerService/InsertBuyer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuyerByPhone">
      <soap:operation soapAction="http://tempuri.org/IBuyerService/GetBuyerByPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuyerByMobile">
      <soap:operation soapAction="http://tempuri.org/IBuyerService/GetBuyerByMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBuyers">
      <soap:operation soapAction="http://tempuri.org/IBuyerService/GetAllBuyers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocationsByPhone">
      <soap:operation soapAction="http://tempuri.org/IBuyerService/GetAllLocationsByPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocationsByMobile">
      <soap:operation soapAction="http://tempuri.org/IBuyerService/GetAllLocationsByMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPropertiesByPhone">
      <soap:operation soapAction="http://tempuri.org/IBuyerService/GetAllPropertiesByPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPropertiesByMobile">
      <soap:operation soapAction="http://tempuri.org/IBuyerService/GetAllPropertiesByMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBuyer">
      <soap:operation soapAction="http://tempuri.org/IBuyerService/UpdateBuyer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBuyer">
      <soap:operation soapAction="http://tempuri.org/IBuyerService/DeleteBuyer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BuyerService">
    <wsdl:port name="BasicHttpBinding_IBuyerService" binding="tns:BasicHttpBinding_IBuyerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLib/BuyerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>