GUIApplication/Service References/PropertyServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PropertyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPropertyService_InsertProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_InsertProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPropertiesByAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesByAddress" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPropertiesByAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesByAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetAllProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProperties" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetAllProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_UpdateProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_UpdateProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_DeleteProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_DeleteProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePropertyResponse" />
  </wsdl:message>
  <wsdl:portType name="IPropertyService">
    <wsdl:operation name="InsertProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/InsertProperty" message="tns:IPropertyService_InsertProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/InsertPropertyResponse" message="tns:IPropertyService_InsertProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertiesByAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetPropertiesByAddress" message="tns:IPropertyService_GetPropertiesByAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetPropertiesByAddressResponse" message="tns:IPropertyService_GetPropertiesByAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetAllProperties" message="tns:IPropertyService_GetAllProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetAllPropertiesResponse" message="tns:IPropertyService_GetAllProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/UpdateProperty" message="tns:IPropertyService_UpdateProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/UpdatePropertyResponse" message="tns:IPropertyService_UpdateProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/DeleteProperty" message="tns:IPropertyService_DeleteProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/DeletePropertyResponse" message="tns:IPropertyService_DeleteProperty_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPropertyService" type="tns:IPropertyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertProperty">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/InsertProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPropertiesByAddress">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/GetPropertiesByAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProperties">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/GetAllProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProperty">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/UpdateProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProperty">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/DeleteProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PropertyService">
    <wsdl:port name="BasicHttpBinding_IPropertyService" binding="tns:BasicHttpBinding_IPropertyService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/PropertyService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>