GUIApplication/Service References/SellerServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SellerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISellerService_InsertSeller_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSeller" />
  </wsdl:message>
  <wsdl:message name="ISellerService_InsertSeller_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSellerResponse" />
  </wsdl:message>
  <wsdl:message name="ISellerService_GetSellerByPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSellerByPhone" />
  </wsdl:message>
  <wsdl:message name="ISellerService_GetSellerByPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSellerByPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="ISellerService_GetSellerByMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSellerByMobile" />
  </wsdl:message>
  <wsdl:message name="ISellerService_GetSellerByMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSellerByMobileResponse" />
  </wsdl:message>
  <wsdl:message name="ISellerService_GetAllSellers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSellers" />
  </wsdl:message>
  <wsdl:message name="ISellerService_GetAllSellers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSellersResponse" />
  </wsdl:message>
  <wsdl:message name="ISellerService_UpdateSeller_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeller" />
  </wsdl:message>
  <wsdl:message name="ISellerService_UpdateSeller_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSellerResponse" />
  </wsdl:message>
  <wsdl:message name="ISellerService_DeleteSeller_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeller" />
  </wsdl:message>
  <wsdl:message name="ISellerService_DeleteSeller_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSellerResponse" />
  </wsdl:message>
  <wsdl:message name="ISellerService_AddPropertyToSeller_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPropertyToSeller" />
  </wsdl:message>
  <wsdl:message name="ISellerService_AddPropertyToSeller_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPropertyToSellerResponse" />
  </wsdl:message>
  <wsdl:portType name="ISellerService">
    <wsdl:operation name="InsertSeller">
      <wsdl:input wsaw:Action="http://tempuri.org/ISellerService/InsertSeller" message="tns:ISellerService_InsertSeller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISellerService/InsertSellerResponse" message="tns:ISellerService_InsertSeller_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSellerByPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/ISellerService/GetSellerByPhone" message="tns:ISellerService_GetSellerByPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISellerService/GetSellerByPhoneResponse" message="tns:ISellerService_GetSellerByPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSellerByMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISellerService/GetSellerByMobile" message="tns:ISellerService_GetSellerByMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISellerService/GetSellerByMobileResponse" message="tns:ISellerService_GetSellerByMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSellers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISellerService/GetAllSellers" message="tns:ISellerService_GetAllSellers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISellerService/GetAllSellersResponse" message="tns:ISellerService_GetAllSellers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSeller">
      <wsdl:input wsaw:Action="http://tempuri.org/ISellerService/UpdateSeller" message="tns:ISellerService_UpdateSeller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISellerService/UpdateSellerResponse" message="tns:ISellerService_UpdateSeller_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSeller">
      <wsdl:input wsaw:Action="http://tempuri.org/ISellerService/DeleteSeller" message="tns:ISellerService_DeleteSeller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISellerService/DeleteSellerResponse" message="tns:ISellerService_DeleteSeller_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPropertyToSeller">
      <wsdl:input wsaw:Action="http://tempuri.org/ISellerService/AddPropertyToSeller" message="tns:ISellerService_AddPropertyToSeller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISellerService/AddPropertyToSellerResponse" message="tns:ISellerService_AddPropertyToSeller_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISellerService" type="tns:ISellerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertSeller">
      <soap:operation soapAction="http://tempuri.org/ISellerService/InsertSeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSellerByPhone">
      <soap:operation soapAction="http://tempuri.org/ISellerService/GetSellerByPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSellerByMobile">
      <soap:operation soapAction="http://tempuri.org/ISellerService/GetSellerByMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSellers">
      <soap:operation soapAction="http://tempuri.org/ISellerService/GetAllSellers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSeller">
      <soap:operation soapAction="http://tempuri.org/ISellerService/UpdateSeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSeller">
      <soap:operation soapAction="http://tempuri.org/ISellerService/DeleteSeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPropertyToSeller">
      <soap:operation soapAction="http://tempuri.org/ISellerService/AddPropertyToSeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SellerService">
    <wsdl:port name="BasicHttpBinding_ISellerService" binding="tns:BasicHttpBinding_ISellerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLib/SellerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>