GUIApplication/Service References/LocationServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocationService_InsertLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLocation" />
  </wsdl:message>
  <wsdl:message name="ILocationService_InsertLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocation" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocationsByCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsByCity" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocationsByCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsByCityResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetAllLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocations" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetAllLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_UpdateLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocation" />
  </wsdl:message>
  <wsdl:message name="ILocationService_UpdateLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_DeleteLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocation" />
  </wsdl:message>
  <wsdl:message name="ILocationService_DeleteLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocationResponse" />
  </wsdl:message>
  <wsdl:portType name="ILocationService">
    <wsdl:operation name="InsertLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/InsertLocation" message="tns:ILocationService_InsertLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/InsertLocationResponse" message="tns:ILocationService_InsertLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetLocation" message="tns:ILocationService_GetLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetLocationResponse" message="tns:ILocationService_GetLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationsByCity">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetLocationsByCity" message="tns:ILocationService_GetLocationsByCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetLocationsByCityResponse" message="tns:ILocationService_GetLocationsByCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetAllLocations" message="tns:ILocationService_GetAllLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetAllLocationsResponse" message="tns:ILocationService_GetAllLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/UpdateLocation" message="tns:ILocationService_UpdateLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/UpdateLocationResponse" message="tns:ILocationService_UpdateLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/DeleteLocation" message="tns:ILocationService_DeleteLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/DeleteLocationResponse" message="tns:ILocationService_DeleteLocation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILocationService" type="tns:ILocationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertLocation">
      <soap:operation soapAction="http://tempuri.org/ILocationService/InsertLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationsByCity">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetLocationsByCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetAllLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocation">
      <soap:operation soapAction="http://tempuri.org/ILocationService/UpdateLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLocation">
      <soap:operation soapAction="http://tempuri.org/ILocationService/DeleteLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationService">
    <wsdl:port name="BasicHttpBinding_ILocationService" binding="tns:BasicHttpBinding_ILocationService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/LocationService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>